/* Spreadsheet Display Classes */
.eC             {   vertical-align: BOTTOM; 
                    text-align: LEFT; 
                    min-height: 12pt; }

.nC             {   vertical-align: BOTTOM; 
                    text-align: LEFT; 
                    min-height: 12pt; }

.sH             {   border-style: none;
                    background: #A9BED1;
                    vertical-align: BOTTOM; 
                    text-align: LEFT; 
                    min-height: 12pt; }

textarea.nC     {   border: none; 
                    text-align: LEFT; 
                    min-height: 12pt;
                    resize: none;  }

textarea.eC     {   border: none;
                    text-align: LEFT; 
                    min-height: 12pt;
                    resize: none; }

input.nC        {   border: none; 
                    text-align: LEFT; 
                    min-height: 12pt; }

input.eC        {   border: none;
                    text-align: LEFT; 
                    min-height: 12pt; 
                    background-color: transparent; }
                    
select.eC       {   vertical-align: MIDDLE; 
                    text-align: LEFT; 
                    min-height: 12pt; 
                    }

select.nC       {   vertical-align: MIDDLE; 
                    text-align: LEFT; 
                    min-height: 12pt; 
                     }                    

/* Custom Radio Button Style Overrides */

.picker .picker-handle, .picker .picker-flag {
    border: none;
    background: none;
}

/* Medium */
.picker.radio-medium {
    width: 32px !important;
    margin: 0 auto !important;
}
.picker.radio-medium .picker-handle {
    height: 32px !important;
    width: 32px !important; 
    background: url("../images/radios/picker.handle.medium.png") transparent no-repeat !important;
}
.picker.radio-medium .picker-flag {
    height: 16px !important;
    width: 16px !important;
    margin: 8px;
    background: none;
}

/* Large */
/*
.picker.radio-large {
    width: 64px !important;
    margin: 0 auto !important;
}
.picker.radio-large .picker-handle {
    height: 64px !important;
    width: 64px !important; 
    background: url("../images/radios/picker.handle.large.png") transparent no-repeat !important;
}
.picker.radio-large .picker-flag {
    height: 32px !important;
    width: 32px !important;
    margin: 16px;
    background: none;
}
*/

/* Hover */
.picker.radio-medium:hover .picker-flag,
.picker.radio-medium.focus .picker-flag { 
    background: url("../images/radios/picker.flag.medium.hover.png") transparent no-repeat !important;
}
/*
.picker.radio-large:hover .picker-flag,
.picker.radio-large.focus .picker-flag { 
    background: url("../images/radios/picker.flag.large.hover.png") transparent no-repeat !important;
}
*/

/* Checked */
.picker.radio-medium.checked .picker-flag { 
    background: url("../images/radios/picker.flag.medium.checked.png") transparent no-repeat !important; 
}
/*
.picker.radio-large.checked .picker-flag { 
    background: url("../images/radios/picker.flag.large.checked.png") transparent no-repeat !important; 
}
*/

/* Disabled */
.picker.radio-medium.disabled .picker-handle { 
    background: url("../images/radios/picker.handle.medium.disabled.png") transparent no-repeat !important; 
}
.picker.radio-medium.disabled .picker-flag {
    background: none;
}
/*
.picker.radio-large.disabled .picker-handle { 
    background: url("../images/radios/picker.handle.large.disabled.png") transparent no-repeat !important; 
}
.picker.radio-large.disabled .picker-flag {
    background: none;
}
*/